<%- include("../partials/header") %>
<div class="login-container">
  <h1>Create new offer</h1>
  <form action="/offices/<%= office.id %>?_method=PUT" method="POST">
      <div class="login-form">
        <input type="text" name="updatedOffice[name]" value="<%= office.name %>" required/>
          <label for="Name">Name: </label>
          <span></span>
      </div>
      <div class="login-form">
        <input type="text" name="updatedOffice[image]" value="<%= office.image %> " required/>
          <label for="password">Image URL: </label>
          <span></span>
      </div>
      <div class="login-form">
        <input type="text" name="updatedOffice[description]" value="<%= office.description %> " required/>
        <label for="password">Description: </label>
        <span></span>
    </div>
    <div class="login-form">
      <input type="text" name="updatedOffice[country]" id="country-off" required/>
      <label for="password">Country: </label>
      <span></span>
  </div>      
  <div class="login-form">
      <input type="text" name="updatedOffice[city]" id="city-off" required/>
      <label for="password">City: </label>
      <span></span>
  </div>
      <input type="submit" value="Submit">
      <div class="signup-link">
      </div>
  </form>
  </div>
<%- include("../partials/footer") %>
